@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px) {
    html{
        font-size: 12px ;
    }

    
}